<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <span class="navbar-brand mb-0 h1">Navbar</span>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/surveys">Surveys</a>
        </li>
      </ul>
    </div>

  </nav>
<router-outlet></router-outlet>